body{
    margin: 20px;
    background-color: rgb(255, 31, 31);
    overflow-y: auto;
    overflow-x: hidden;
}
.app-container{
    grid-template-columns: 1fr;
}

.notes-grid{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px,1fr));
    grid-auto-rows: minmax(200px, auto);
    gap: 20px;
    border-radius: 10px;
    margin-left: 30px;
    margin-top: 150px;
    z-index: 2;
}
.note-item{
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-radius: 15px;
    background-color: rgb(81, 221, 81);
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
    cursor: pointer;
    white-space: pre-wrap;
}

.date{
    display: flex;
    justify-content: end;
    align-content: end;
}

.notes-header{
    display: flex;
    justify-content: flex-end;
}

.notes-header button{
    font-size: 16px;
    background: transparent;
    border: none;
    cursor: pointer;
    max-width: fit-content;
}

h2{
    margin: 0;
}

.note-form{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 20px;
    position: fixed;
    margin-right: 20px;
}

textarea, input{
    border-radius: 15px;
    border: 2px solid black;
    padding: 10px;
    font-size: 16px;
    background-color: rgb(117, 169, 228);
}

.note-form button{
    border-radius: 15px;
    background-color: rgb(64, 154, 184);
    border: none;
    padding: 10px;
    font-size: 16px;
    color: white;

}

.note-form button:hover{
    background-color: rgb(106,175,198);
    cursor: pointer;
}

.edit-buttons {
    display: flex;
    justify-content: space-evenly;
    gap: 30px;
}

.edit-buttons button{
    flex: 1;
}

.edit-buttons button:last-of-type{
    background-color: rgb(219, 24, 24);
    color: white;
}

.note-form{
    overflow: hidden;
}

.form-outer{
    border-color: rgb(255, 31, 31); ;
    z-index: 2;
    margin-top: 150px;
}


@media (min-width: 600px){
    .app-container{
        display: grid;
        grid-template-columns: 200px 1fr;
        gap:20px;

    }

}

@media (max-width: 600px){
    body{
        overflow-y: scroll;
        overflow-x: hidden;
    }
    .app-container{
        display: flex;
        position: static;
        margin: 0 auto;
    }
    .form-outer{
        position: absolute;
        transform: translateX(15px);
        top: 130px;
        margin: 0 auto;
        z-index: 2;
    }
    .note-form{
        justify-content: center;
        max-width: 550px;
        max-height: 350px;
        margin: 0 auto;
        margin-bottom: 20px;
        position: static;
    }

    .notes-grid{
        overflow-y: scroll;
        max-height: 45vh;
        z-index: 1;
        width: 80%;
        margin: 20px 15px;
        top: 460px;
        position: absolute;
        grid-auto-rows:minmax(120px, auto);
        margin-bottom: 20px;
    }
}

/* @media (max-width: 400px){
    .note-form{
        max-height: 250px;
    }
    .form-outer{
        top:100px;
    }
    .notes-grid{
        max-height: 42vh;
        top: 350px;
    }

} */